/* Swatches */
/* A
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-e,
.ui-page-theme-e .ui-bar-inherit,
html .ui-bar-e .ui-bar-inherit,
html .ui-body-e .ui-bar-inherit,
html body .ui-group-theme-e .ui-bar-inherit {
	background-color: 			#e9e9e9 /*{a-bar-background-color}*/;
	border-color:	 		#ddd /*{a-bar-border}*/;
	color: 					#333 /*{a-bar-color}*/;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ 	#eee /*{a-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-e {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-e,
.ui-page-theme-e,
.ui-page-theme-e .ui-panel-wrapper {
	background-color: 			#f9f9f9 /*{a-page-background-color}*/;
	border-color:	 		#bbb /*{a-page-border}*/;
	color: 					#333 /*{a-page-color}*/;
	text-shadow: 0 /*{a-page-shadow-x}*/ 1px /*{a-page-shadow-y}*/ 0 /*{a-page-shadow-radius}*/ 	#f3f3f3 /*{a-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-e,
.ui-page-theme-e .ui-body-inherit,
html .ui-bar-e .ui-body-inherit,
html .ui-body-e .ui-body-inherit,
html body .ui-group-theme-e .ui-body-inherit,
html .ui-panel-page-container-e {
	background-color: 			#fff /*{a-body-background-color}*/;
	border-color:	 		#ddd /*{a-body-border}*/;
	color: 					#333 /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ 	#f3f3f3 /*{a-body-shadow-color}*/;
}
.ui-body-e {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-e a,
html .ui-bar-e a,
html .ui-body-e a,
html body .ui-group-theme-a a {
	color: #3388cc /*{a-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-e a:visited,
html .ui-bar-e a:visited,
html .ui-body-e a:visited,
html body .ui-group-theme-e a:visited {
    color: #3388cc /*{a-link-visited}*/;
}
.ui-page-theme-e a:hover,
html .ui-bar-e a:hover,
html .ui-body-e a:hover,
html body .ui-group-theme-e a:hover {
	color: #005599 /*{a-link-hover}*/;
}
.ui-page-theme-e a:active,
html .ui-bar-e a:active,
html .ui-body-e a:active,
html body .ui-group-theme-a a:active {
	color: #005599 /*{a-link-active}*/;
}
/* Button up */
.ui-page-theme-e .ui-btn,
html .ui-bar-e .ui-btn,
html .ui-body-e .ui-btn,
html body .ui-group-theme-e .ui-btn,
html head + body .ui-btn.ui-btn-a,
/* Button visited */
.ui-page-theme-e .ui-btn:visited,
html .ui-bar-e .ui-btn:visited,
html .ui-body-e .ui-btn:visited,
html body .ui-group-theme-e .ui-btn:visited,
html head + body .ui-btn.ui-btn-e:visited {
	background-color: 			#f6f6f6 /*{a-bup-background-color}*/;
	border-color:	 		#ddd /*{a-bup-border}*/;
	color: 					#333 /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #f3f3f3 /*{a-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-e .ui-btn:hover,
html .ui-bar-e .ui-btn:hover,
html .ui-body-e .ui-btn:hover,
html body .ui-group-theme-e .ui-btn:hover,
html head + body .ui-btn.ui-btn-e:hover {
	background-color: 			#ededed /*{a-bhover-background-color}*/;
	border-color:	 		#ddd /*{a-bhover-border}*/;
	color: 					#333 /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #f3f3f3 /*{a-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-e .ui-btn:active,
html .ui-bar-e .ui-btn:active,
html .ui-body-e .ui-btn:active,
html body .ui-group-theme-e .ui-btn:active,
html head + body .ui-btn.ui-btn-e:active {
	background-color: 			#e8e8e8 /*{a-bdown-background-color}*/;
	border-color:	 		#ddd /*{a-bdown-border}*/;
	color: 					#333 /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #f3f3f3 /*{a-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-e .ui-btn.ui-btn-active,
html .ui-bar-e .ui-btn.ui-btn-active,
html .ui-body-e .ui-btn.ui-btn-active,
html body .ui-group-theme-e .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-e.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-e .ui-checkbox-on:after,
html .ui-bar-e .ui-checkbox-on:after,
html .ui-body-e .ui-checkbox-on:after,
html body .ui-group-theme-e .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-e:after,
/* Active flipswitch background */
.ui-page-theme-e .ui-flipswitch-active,
html .ui-bar-e .ui-flipswitch-active,
html .ui-body-e .ui-flipswitch-active,
html body .ui-group-theme-e .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-e.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-e .ui-slider-track .ui-btn-active,
html .ui-bar-e .ui-slider-track .ui-btn-active,
html .ui-body-e .ui-slider-track .ui-btn-active,
html body .ui-group-theme-e .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-e .ui-btn-active {
	background-color: 		#3388cc /*{a-active-background-color}*/;
	border-color:	 		#3388cc /*{a-active-border}*/;
	color: 					#fff /*{a-active-color}*/;
	text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-e .ui-radio-on:after,
html .ui-bar-e .ui-radio-on:after,
html .ui-body-e .ui-radio-on:after,
html body .ui-group-theme-e .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-e:after {
	border-color:			#3388cc /*{a-active-background-color}*/;
}
/* Focus */
.ui-page-theme-e .ui-btn:focus,
html .ui-bar-e .ui-btn:focus,
html .ui-body-e .ui-btn:focus,
html body .ui-group-theme-e .ui-btn:focus,
html head + body .ui-btn.ui-btn-e:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-e .ui-focus,
html .ui-bar-e .ui-focus,
html .ui-body-e .ui-focus,
html body .ui-group-theme-e .ui-focus,
html head + body .ui-btn-e.ui-focus,
html head + body .ui-body-e.ui-focus {
	-webkit-box-shadow: 0 0 12px 	#3388cc /*{a-active-background-color}*/;
	-moz-box-shadow: 0 0 12px 		#3388cc /*{a-active-background-color}*/;
	box-shadow: 0 0 12px 			#3388cc /*{a-active-background-color}*/;
}


html .ui-bar-e .ui-btn-icon-left:after,
html .ui-bar-e .ui-btn-icon-right:after,
html .ui-bar-e .ui-btn-icon-top:after,
html .ui-bar-e .ui-btn-icon-bottom:after,
html .ui-bar-e .ui-btn-icon-notext:after{
	background-color: rgba(0,0,0,0) ;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 0;
    border-radius: 0;
    content: "";
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
}

html .top.ui-header.ui-bar-e{
	background-image: url(../img/top.png);
	border:0;
}

html .top.ui-header.ui-bar-e .ui-grid-b>.ui-block-a .ui-btn{
	background-color:transparent;
	background-color:transparent;
	color: #fff;
	text-shadow: 0 0 0;
	border: 0;
}
html .top.ui-header.ui-bar-e .ui-grid-b>.ui-block-c .ui-btn{
	background-color:transparent;
	color: #fff;
	text-shadow: 0 0 0;
	border: 0;
}
html .top.ui-header.ui-bar-e .ui-grid-b>.ui-block-a{
	width: 15%;
}
html .top.ui-header.ui-bar-e .ui-grid-b>.ui-block-b{
	width: 70%;
	color: #fff;
	text-shadow: 0 0 0;
}

html .top.ui-header.ui-bar-e .ui-grid-b>.ui-block-c{
	width: 15%;
}

html .top.ui-header.ui-bar-e .ui-grid-b>.ui-block-c .ui-btn-icon-notext{
	height: 48px;
	width: 48px;
}

html .top.ui-header.ui-bar-e .ui-grid-b>.ui-block-c .ui-btn-icon-notext{
	height: 48px;
	width: 48px;
}

.ui-body-e h3{
	word-break:break-all;
}

.ui-body-e p{
	word-break:break-all;
}