.field-group-inline * {
  display: inline !important;
  float: none !important;
}
.field-group-inline .clearfix:after {
  display: inline;
}
.field-group-label {
  display: block !important;
  font-weight: bold;
}
.field-group-inline-separator {
  margin: 0 5px;
}
